body {
  font-size: small;
  background-image: linear-gradient(to bottom right, skyblue, rgb(134, 203, 226))
}

.weather-heading {
  margin: 10px;
  font-size: 20px;
  font-weight: 900;
  color: rgb(12, 12, 218)e;
}

.jumbotron{
  height: 50px;
  background-image: linear-gradient(to bottom right, rgb(162, 225, 250), rgb(134, 203, 226))
}

.weather-div {
  background-color: rgb(147, 212, 231);
  width: 20%;
  border-width: 0px;
}

.weather-today {
  margin-top: 20px;
}